:root {
    --color-primary: #FC7300;
    --color-secondary: #1F8A70;
    --color-background: #00425A;
    --color-text: #181823;
    --color-ultimate: #EFF5F5;
}

h2 {
    color: var(--color-primary);
    margin-top: 200px;
    display: flex;
}

a {
    color: var(--color-primary);
    background-color: var(--color-text);
    text-decoration: none;
}